<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
      <nav class="nav">
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
      <div class="welcome-container">
        <h1 class="welcome__text">Welcome!</h1>
      </div>
    </header>
    <main class="main-container">
        <div class="post-container" data-active>
          {{{ body }}}
        </div>
        <div class="news-container">
        </div>
    </main>
  
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
  <script src="javascript/animations.js"></script>
  <script src="javascript/news-api.js"></script>
  <script src="javascript/carousel.js"></script>
</body>

</html>