<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coder's Cave</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="wrapper">
    <header>
      <nav class="nav">
        <a href="/">Home</a>
        <a href="Chat">Chat</a>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout" class="btn-no-style">Logout</button>
        <a href="/chat">Chat</a>
        {{else}}
        <a href="/login">Log In</a>
        {{/if}}
        {{!-- <div class="search-container">
          <input type="text" name="search-box" class="search-box">
          <button class="search-btn">Search</button>
        </div> --}}
      </nav>
      <div class="welcome-container">
        <h1 class="welcome__text">Welcome!</h1>
      </div>
    </header>
    <main class="main-container">
        <div class="post-container" data-active>
          {{{ body }}}
        </div>
        <div class="news-container">
        </div>
    </main>
  </div>
  
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
  <script src="javascript/animations.js"></script>
  <script src="javascript/news-api.js"></script>
  <script src="javascript/search.js"></script>
</body>
</html>